//-
  | Mandatory:
  |   data: DeckData
  |     The data of the current deck!
  |   budgets: List<DeckBudget>
  |     The list of possible budgets.

p
  label(for="budget") Budget:
  select(name="budget")
    each budget in budgets
      option(selected=data.budget == budget, value=budget.name())= budget.name()

p
  label(for="deckUrl") Deck URL:
  input(type="text", name="deckUrl", value=data.deckUrl)

